<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <br /> Welcome <%= username %> to the home page! <br />
        <br />
        <h1>Pokemon List</h1>
        <ul id="pokemon-list"></ul>

        <h1>Favourites List</h1>
        <ul id="favourites-list"></ul>

        <script>
            const fetchFavourites = (arg) => {
                fetch(`/favourites`
                ).then(response => response.json())
                    .then(data => {
                        const favouritesList = document.getElementByID("favourites-list");
                        favouritesList.innerHTML = ""; // Clear the list before adding new items
                        data.forEach((favourite) => {
                            const favouritesListItem = document.createElement("favouritesListItem")
                            favouritesListItem.innerText = favourite.name;
                            favouritesList.appendChild(favouritesListItem);

                        })
                    })
                    .catch((error) => console.error("Error fetcgubg favourites:", error));
            }
            fetch("https://pokeapi.co/api/v2/pokemon?limit=10")
                .then((response) => response.json())
                .then((data) => {
                    const pokemonList = document.getElementById("pokemon-list");
                    data.results.forEach((pokemon) => {
                        const pokemonListItem = document.createElement("pokemonListItem");
                        pokemonListItem.innerText = pokemon.name;
                        pokemonList.appendChild(pokemonListItem);
                    })
                })
                .catch((error) => console.error("Error fetching Pokemon:", error));

        </script>


</body>

</html>